<table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px;width:580px" width="580">
	<tbody>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="top"></td>
		</tr>
		<tr>
			<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
					<tbody>
						<tr>
							<td style="margin:0px;padding:0px;border:0px" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td style="padding-left:8px;padding-right:8px">
																<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																	<tbody>
																		<tr>
																			<td style="padding:8px;text-align:left" valign="top">
																				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																					<tbody>
																						<tr>
																							<td>
																								<h1 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-weight:bold;font-size:24px;line-height:32px;margin-bottom:8px;display:block; text-align:center">

																									{% if coupons | length > 1 %}
																										Váltsd be az ajándék kuponjaid és tanulj a Kódbázison kedvezményes áron!
																									{% else %}
																										Váltsd be az ajándék kuponod és tanulj a Kódbázison kedvezményes áron!
																									{% endif %}
																								</h1>
																							</td>
																						</tr>
																						{% for coupon in coupons %}
																							<tr>
																								<td>
																									<span style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">
																										<span>
																											<img src="https://kodbazis.hu/public/files/md-{{coupon.imgUrl}}"/>
																										</span>
																									</span>
																								</td>
																							</tr>
																							<tr>
																								<td style="padding-bottom: 20px;">
																									<div style="border: 1px solid lightgrey; padding: 5px; border-radius: 0 0 6px 6px;">
																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">
																											Kuponkód:
																											<span style="color:#E93F33; padding: 5px; margin: 5px border-radius: 6px">{{coupon.code}}</span>
																										</h2>
																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">
																											Kedvezmény:
																											<span style="color:#E93F33">{{coupon.couponDiscount}}%</span>
																										</h2>
																										<h4 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">
																											<sup style="color:#E93F33">*</sup>Érvényes:
																											{{coupon.validUntil |date("Y. m. d.")}}-ig!
																										</h4>

																										<a target="_blank" style="text-decoration:none" class="m_4325997054331131087button" href="{{siteUrl}}/kupon-bevaltasa/{{ref}}?c={{coupon.slug}}">
																											<div align="center" bgcolor="#0898FF" class="m_4325997054331131087button-inner" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:14px;line-height:20px;text-align:center;color:#ffffff;background:#0898ff;border-radius:3px;border:1px solid #0898ff;background:#0898ff;padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="middle">
																												<span class="il" style="color:white; text-decoration:none">Kupon beváltása</span>
																											</div>
																										</a>
																									</div>
																									<hr style="margin:0px;padding:5px;border:0px;margin-top:16px;margin-bottom:5px;border-bottom:1px solid #ededed;">
																								</td>
																							</tr>

																						{% endfor %}
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px;padding-bottom:0;text-align:center" valign="top">
				<p style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:12px;line-height:18px;color:#707070;margin-bottom:8px">
					Kódbázis © 2021.<br>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding-top:0;padding-right:16px;padding-bottom:8px;padding-left:16px;padding-bottom:10px;text-align:center" valign="top">
				<a href="{{siteUrl}}/leiratkozas/{{subscriberId}}" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:10px;line-height:18px;color:#707070; text-decoration:none">
					Leiratkozás
				</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>
