<table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px;width:580px" width="580">
	<tbody>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="top"></td>
		</tr>
		<tr>
			<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
					<tbody>
						<tr>
							<td style="margin:0px;padding:0px;border:0px" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td style="padding-left:8px;padding-right:8px">
																<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																	<tbody>
																		<tr>
																			<td style="padding:8px;text-align:left" valign="top">
																				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																					<tbody>
																						<tr>
																							<td>
																								<h1 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-weight:bold;font-size:24px;line-height:32px;margin-bottom:8px;display:block; text-align:center">
																									Kedves feliratkozó!
																								</h1>
																								<h3 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-weight:bold;font-size:18px;line-height:32px;margin-bottom:8px;display:block; text-align:center">
																									{% if coupons | length > 1 %}
																										Ajándék kuponokban részesültél, amelyeket az alábbi kurzusokra tudsz felhasználni:
																									{% else %}
																										Ajándék kuponban részesültél, amit az alábbi kurzusra tudsz felhasználni:
																									{% endif %}
																								</h3>
																							</td>
																						</tr>
																						{% for coupon in coupons %}
																							<tr>
																								<td>
																									<img src="https://kodbazis.hu/public/files/md-{{coupon.imgUrl}}"/>
																								</td>
																							</tr>
																							<tr>
																								<td style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:10px;padding:10px;border:0px;margin-bottom:8px;background-color:azure; border-left: 1px solid lightgrey; border-right: 1px solid lightgrey; border-top: 1px solid lightgrey;text-align:center;">
																									{{coupon.description}}
																								</td>
																							</tr>
																							<tr>
																								<td style="padding-bottom: 20px;">
																									<div style="border: 1px solid lightgrey; padding: 5px; border-radius: 0 0 6px 6px;">
																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:10px;text-align:center">
																											Kedvezmény:
																										</h2>
																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:10px;text-align:center">
																											<span style="border: 1px solid red;color:red;display: inline-block;line-height: 28px;padding: 6px 12px;right: 0;">
																												{{coupon.couponDiscount}}%
																											</span>
																										</h2>
																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:15px;text-align:center">
																											<span style="margin-right: 10px;line-height: 1.5; font-size: 1.5rem;font-weight: 400; text-transform: none; background: linear-gradient(to left top,transparent 47.75%,currentColor 49.5%,currentColor 50.5%,transparent 52.25%);">
																												{{coupon.price | number_format(0, '', ' ')}}
																												Ft
																											</span>
																											<span class="first" style="color:red; font-size: 2.5rem">
																												{{coupon.discountedPrice | number_format(0, '', ' ') }}
																												Ft
																											</span>
																										</h2>

																										<h2 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px;text-align:center">
																											Kuponkód:
																											<span style="color:#0faef1;padding:5px;margin:5px;border-radius:6px;">{{coupon.code}}</span>
																										</h2>
																										<h3 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px;text-align:center">
																											Érvényes:
																											{{coupon.validUntil |format_datetime('full', 'none', locale='hu')}}ig!
																										</h3>

																										<a target="_blank" style="text-decoration:none" class="m_4325997054331131087button" href="{{siteUrl}}/kupon-bevaltasa/{{ref}}?c={{coupon.slug}}">
																											<div align="center" bgcolor="red" class="m_4325997054331131087button-inner" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:14px;line-height:20px;text-align:center;color:#ffffff;border-radius:3px;border:1px solid red;background:red;padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="middle">
																												<span class="il" style="color:white; text-decoration:none">Kupon beváltása</span>
																											</div>
																										</a>
																									</div>
																									<hr style="margin:0px;padding:5px;border:0px;margin-top:16px;margin-bottom:5px;border-bottom:1px solid #ededed;">
																								</td>
																							</tr>

																						{% endfor %}
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px;padding-bottom:0;text-align:center" valign="top">
				<p style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:12px;line-height:18px;color:#707070;margin-bottom:8px">
					Kódbázis © 2021.<br>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding-top:0;padding-right:16px;padding-bottom:8px;padding-left:16px;padding-bottom:10px;text-align:center" valign="top">
				<a href="{{siteUrl}}/leiratkozas/{{subscriberId}}" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:10px;line-height:18px;color:#707070; text-decoration:none">
					Leiratkozás
				</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>
