<div class="mt-3 mb-3 content-body {{paddingTop is defined ? 'first-section' : ''}}">
	<div class="col-sm-12">
		<div class="card p-3">
			<h1>
				{{ mainTitle is defined ? mainTitle : course.title }}
			</h1>
			<hr/>
			{% for row in episodes %}
				<div class="row pb-3">
					{% for episode in row %}
						<div class="col-sm-4">
							{% if isPromo is defined and isPromo %}
								<div class="card" class="w-100">
									<img class="card-img-top" src="/public/files/md-{{ episode.imgUrl }}" alt=""/>
									<div class="card-body">
										<h3 class="card-title text-center">{{ episode.title }}</h3>
									</div>
								</div>
							{% else %}
								<a href="{{course.slug}}/{{episode.slug}}">
									<div class="card" class="w-100">
										<img class="card-img-top" src="/public/files/md-{{ episode.imgUrl }}" alt=""/>
										<div class="card-body">
											<h3 class="card-title text-center">{{ episode.title }}</h3>
										</div>
									</div>
								</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
