{% if type == 'codeAssistantGif' %}
	<div class='kodseged' data-filechangesurl='/embeddable/codeAssistantGif/{{id}}/fileChanges' data-gifurl='/embeddable/codeAssistantGif/{{id}}/gif' data-type='codeAssistantGif' data-showframenumber='{{showFrameNumber}}' data-layout='{{layout}}'></div>
{% elseif type == 'codeAssistantYoutube'  %}
	<div class="kodseged" data-wrapperclassname="content-body" data-layout='{{layout}}' data-videoid="{{videoId}}" data-filechangesurl="/embeddable/codeAssistantYoutube/{{id}}/fileChanges" data-type="codeAssistantYoutube"></div>
{% elseif type == 'codeAssistantVimeo'  %}
	<div class="kodseged" data-wrapperclassname="content-body" data-layout='{{layout}}' data-videoid="{{videoId}}" data-filechangesurl="/embeddable/codeAssistantVimeo/{{id}}/fileChanges" data-type="codeAssistantVimeo"></div>
{% elseif type == 'codeAssistant'  %}
	<div class='kodseged' data-layout='{{layout}}' data-filechangesurl='/embeddable/codeAssistant/{{id}}/fileChanges' data-videourl='/embeddable/codeAssistant/{{id}}/video' data-type='onSite'></div>
{% elseif type == 'youtube'  %}
	<p class='text-center'>
		<div class="kodseged" data-videoid="{{videoId}}" data-type="youtube"></div>
	</p>
{% elseif type == 'vimeo'  %}
	<p class='text-center'>
		<div class="kodseged" data-videoid="{{videoId}}" data-type="vimeo"></div>
	</p>
{% elseif type == 'gif'  %}
	<div class='kodseged' data-gifurl='/embeddable/gif/{{id}}/gif' data-type='gif'></div>
{% elseif type == 'gifImproved'  %}
	<div class='kodseged' data-gifurl='/embeddable/gif/{{id}}/gif' data-type='gifImproved'></div>
{% else %}
	<p>No embeddable content...</p>
{% endif %}
