<div class="mt-3 mb-3 content-body">
	<div class="col-sm-12">
		<div class="card p-3">
			<div class="card-body">
				<div class="card-title">
					<h1 class="mb-4 mt-5">{{ episode.title }}</h1>
				</div>
				<hr>
				{{ episodeContent | raw }}
				<hr class="mb-3">
				<div class="app mb-3">
					<ul class="hs full">
						{% for ep in allEpisodesInCourse %}
							<a href="/react-kurzus/{{ep.slug}}">
								<li class="item {{ep.id == episode.id ? 'selected-episode' : ''}}">
									{% if ep.imgUrl %}
										<img class="img-thumbnail" src="/public/files/sm-{{ep.imgUrl}}"/>
									{% else %}
										<p class="text-center">{{ ep.title }}</p>
									{% endif %}
								</li>
							</a>
						{% endfor %}
					</ul>
				</div>

				<div class="row">
					<div class="col-sm-6 mb-3">
						{% if previousEpisode %}
							<a href="/react-kurzus/{{previousEpisode.slug}}">
								<button class="btn btn-success w-100">
									<span class="lead">←</span>
									{{previousEpisode.title}}
								</button>
							</a>
						{% endif %}
					</div>
					<div class="col-sm-6">
						{% if nextEpisode %}
							<a class="float-right" href="/react-kurzus/{{nextEpisode.slug}}">
								<button class="btn btn-success w-100">
									{{nextEpisode.title}}
									<span class="lead">→</span>
								</button>
							</a>
						{% else %}
							<h2>Következő rész hamarosan...</h2>
						{% endif %}
					</div>

				</div>
				<div id="fb-root"></div>
			</div>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=705894336804251&autoLogAppEvents=1" nonce="GLaxzOjV"></script>
			<div class="fb-like" data-href="{{url}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
		</div>
	</div>
</div>
