<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Epizód szerkesztése</h2>
		</div>
	</div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="card">
		<div class="card-body">
			<form action="/admin/epizodok/update/{{ episode.id }}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
				<div class="form-group">
					<label class="w-100">
						Cím
						<input type="text" class="form-control" name="title" value="{{ episode.title }}">
					</label>
				</div>
				<div class="form-group">
					<label class="w-100">
						Keresőbarát név
						<input type="text" class="form-control mr-3 w-100" name="slug" value="{{ episode.slug }}">
					</label>
				</div>
				{# <div class="form-group">
													<label class="w-100">
														Kurzus
														<select name="courseId" class="form-control">
															{% for course in courses %}
																<option value="{{course.id}}">{{course.title}}</option>
															{% endfor %}
														</select>
													</label>
												</div> #}
				<label class="w-100">
					Tartalom
					<textarea class="cke" name="content">{{ episode.content }}</textarea>
				</label>
				<label class="w-100">
					Leírás
					<textarea style="width: 100%; height: 200px;" name="description">{{ episode.description }}</textarea>
				</label>
				<label class="w-100">
                 {% if episode.imgUrl %}
                    <img src="/src/public/files/{{ episode.imgUrl }}" class="img-fluid">
                {% endif %}
					Kép
					<input type="file" name="mainImage">
				</label>

				<button class="btn btn-primary" type="submit">Elküldés</button>
			</form>
		</div>
	</div>
</div>
