<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Új epizód</h2>
		</div>
	</div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="card">
		<div class="card-body">
			<form action="/admin/epizodok/create" method="post" enctype="multipart/form-data">
				<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
				<div class="form-group">
					<label class="w-100">
						Cím
						<input type="text" class="form-control" name="title">
					</label>
				</div>
				<div class="form-group">
					<label class="w-100">
						Kurzus
						<select name="courseId" class="form-control">
							{% for course in courses %}
								<option value="{{course.id}}">{{course.title}}</option>
							{% endfor %}
						</select>
					</label>
				</div>
				<label class="w-100">
					Tartalom
					<textarea class="cke" name="content">{{ post.content }}</textarea>
				</label>
				<label class="w-100">
					Leírás
					<textarea style="width: 100%; height: 200px;" name="description"></textarea>
				</label>
				<label class="w-100">
					Rövid leírás
					<textarea class="cke" style="width: 100%; height: 200px;" name="shortDescription"></textarea>
				</label>

				<label class="w-100">
					Pozíció
					<input type="number" class="form-control" name="position" value="{{ episode.position }}">
				</label>
				<div class="form-group">
					<label class="w-100">
						Aktív
						<input type="checkbox" class="form-control" name="isActive" value="1" checked>
					</label>
				</div>
				<div class="form-group">
					<label class="w-100">
						Bemutató
						<input type="checkbox" class="form-control" name="isPreview" value="1">
					</label>
				</div>

				<label class="w-100">
					Kép
					{% if post.imgUrl %}
						<img src="/src/public/files/{{ post.imgUrl }}" class="img-fluid">
					{% endif %}
					<input type="file" name="mainImage">
				</label>

				<button class="btn btn-primary" type="submit">Elküldés</button>
			</form>
		</div>
	</div>
</div>
