<h1 class="p-3 border-bottom">
	Webfejlesztő online kurzusok
</h1>
<div class="row m-auto mb-4">
	{% for item in items %}
		<div class="col-md-6">
			<a href="{{item.course.slug}}">
				<div class="card p-2 m-2 bg-muted" style="background-color: beige">
					<img src="/public/files/md-{{item.course.imgUrl}}" class="w-100"/>
					<h1 style="min-height: 120px">{{item.course.title}}</h1>
					<p class="lead p-2 text-center text-dark" style="min-height: 130px">
						<b>{{item.course.description}}</b>
					</p>
					<hr class="m-0">
					<div class="col-md-12">
						<p class="text-center pt-1 text-dark">
							<b>A teljes képzés ára:</b>
						</p>
						{% if item.course.price == item.discountedPrice %}
							<h1 class="p-3 no-discount" style="font-size: 3em; text-shadow: 2px 3px 5px #ccc;">
								<b>{{item.course.price | number_format(0, '', ' ')}}
									Ft</b>
							</h1>
						{% else %}
							<div class="row p-2">
								<div class="col-md-8" style="text-shadow: 2px 3px 5px #ccc;">
									<span class="first">{{item.discountedPrice | number_format(0, '', ' ') }}
										Ft</span>
									<span class="second strikethrough">{{item.course.price | number_format(0, '', ' ')}}
										Ft</span>
								</div>
								<div class="col-md-4">

									<div class="float-right text-center">
										<div class="third text-center">
											-{{item.course.discount}}%
										</div>
										<span style="font-size: 10px">Limitált ideig!</span>

									</div>
								</div>


							</div>

						{% endif %}
						<button class="_3jJ8O sc-htpNat fMQhWV mt-2" format="primary" id="login_signup_button">
							<span class="sc-bxivhb jrbrfM">
								Érdekel
								<i class="fa fa-arrow-circle-right"></i>
							</span>
						</button>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}


	<div class="col-md-6">
		<a target="_blank" href="https://www.youtube.com/watch?v=5jLHg660Wo0&list=PL6VA7Z5zO0dq-6NWrHzIy7dqLfeZhhhOz&index=1&ab_channel=K%C3%B3db%C3%A1zisK%C3%B3db%C3%A1zis">
			<div class="card p-2 m-2" style="background-color: azure">
				<img src="/public/images/js_course_logo.webp" class="w-100"/>
				<h1 style="min-height: 120px">JavaScript az alapoktól</h1>
				<p class="lead p-2 text-center text-dark" style="min-height: 130px">
					<b>Alapozd meg JavaScript fejlesztői karriered, ezen tanfolyam elvégzésével!</b>
					<br>
					(Youtube)
				</p>
				<hr class="m-0">
				<div class="col-md-12">
					<p class="text-center pt-1 text-dark">
						<b>A teljes képzés ára:</b>
					</p>

					<h1 class="p-3 no-discount" style="font-size: 3em; text-shadow: 2px 3px 5px #ccc;">
						<b>Ingyenes</b>
					</h1>

					<button class="_3jJ8O sc-htpNat fMQhWV mt-2" format="primary" id="login_signup_button">
						<span class="sc-bxivhb jrbrfM">
							Érdekel
							<i class="fa fa-arrow-circle-right"></i>
						</span>
					</button>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-6">
		<a target="_blank" href="https://www.youtube.com/watch?v=KWk65fmJVDs&list=PL6VA7Z5zO0drUomWpim2NLm9kUcqhZQhJ&index=1&ab_channel=K%C3%B3db%C3%A1zis">
			<div class="card p-2 m-2" style="background-color: azure">
				<img src="/public/images/node-js-logo.webp" class="w-100"/>
				<h1 style="min-height: 120px">Node.js tutorial</h1>
				<p class="lead p-2 text-center text-dark" style="min-height: 130px">
					<b>Tanuld meg a Node.js szerver oldali programozás alapjait!</b>
					<br>
					(Youtube)
				</p>
				<hr class="m-0">
				<div class="col-md-12">
					<p class="text-center pt-1 text-dark">
						<b>A teljes képzés ára:</b>
					</p>

					<h1 class="p-3 no-discount" style="font-size: 3em; text-shadow: 2px 3px 5px #ccc;">
						<b>Ingyenes</b>
					</h1>

					<button class="_3jJ8O sc-htpNat fMQhWV mt-2" format="primary" id="login_signup_button">
						<span class="sc-bxivhb jrbrfM">
							Érdekel
							<i class="fa fa-arrow-circle-right"></i>
						</span>
					</button>
				</div>
			</div>
		</a>
	</div>
</div>
