<div class="_1QAbw">
	<div class="_2xvqr">
		<div class="_1PqEM">
			<h2 class="sc-bdVaJa iPHfVO" format="dark">Számlázási adatok:</h2>
		</div>
		<form class="_2bCMA p-2" method="post" action="/api/order-course/{{courseId}}">
			<div class="I9NYm _3z-_p db1GS {{isPaymentPhase ? 'bg-light' : ''}}">
				<label class="_3Xmck _1Bymy">Név/Cégnév:</label>
				<input type="text" required name="name" value="{{subscriberCourse.name}}" {{isPaymentPhase ? 'disabled' : ''}} maxlength="128" class="_2lU9f db1GS _1Bymy {{isPaymentPhase ? 'text-muted' : ''}}">
			</div>
			<div class="I9NYm _3z-_p db1GS {{isPaymentPhase ? 'bg-light' : ''}}">
				<label class="_3Xmck _1Bymy">Adószám:</label>
				<input type="text" required name="taxNumber" value="{{subscriberCourse.taxNumber}}" {{isPaymentPhase ? 'disabled' : ''}} maxlength="128" class="_2lU9f db1GS _1Bymy {{isPaymentPhase ? 'text-muted' : ''}}">
			</div>
			<div class="I9NYm _3z-_p db1GS {{isPaymentPhase ? 'bg-light' : ''}}">
				<label class="_3Xmck _1Bymy">Irányítószám:</label>
				<input type="number" required name="zip" value="{{subscriberCourse.zip}}" {{isPaymentPhase ? 'disabled' : ''}} maxlength="128" class="_2lU9f db1GS _1Bymy {{isPaymentPhase ? 'text-muted' : ''}}">
			</div>
			<div class="I9NYm _3z-_p db1GS {{isPaymentPhase ? 'bg-light' : ''}}">
				<label class="_3Xmck _1Bymy">Város:</label>
				<input type="text" required name="city" value="{{subscriberCourse.city}}" {{isPaymentPhase ? 'disabled' : ''}} maxlength="128" class="_2lU9f db1GS _1Bymy {{isPaymentPhase ? 'text-muted' : ''}}">
			</div>
			<div class="I9NYm _3z-_p db1GS {{isPaymentPhase ? 'bg-light' : ''}}">
				<label class="_3Xmck _1Bymy">Utca, házszám:</label>
				<input type="text" required name="address" value="{{subscriberCourse.address}}" {{isPaymentPhase ? 'disabled' : ''}} maxlength="128" class="_2lU9f db1GS _1Bymy {{isPaymentPhase ? 'text-muted' : ''}}">
			</div>

			<div class="form-check mb-2 p-2" style="font-size: 15px">
				<label class="form-check-label">
					<p>
						<input class="mr-2" required type="checkbox" {{ isPaymentPhase ? 'checked disabled': ''}} name="privacy2" value="1"/>
						Elfogadom az
						<a href="/aszf" target="_blank">általános szerződési feltételeket</a>
					</p>
				</label>
			</div>

			<input type="hidden" name="purchaseType" value="invoice">

			{% if not isPaymentPhase %}

				<button class="_3jJ8O sc-htpNat fMQhWV" format="primary" type="submit">
					<span class="sc-bxivhb jrbrfM">Megveszem</span>
				</button>

			{% endif %}
		</form>
	</div>
</div>
