<div class="mt-3 mb-3 content-body">
	<div style="margin-bottom: 90px"></div>

	<h1 style="font-weight: 300 !important">
		{{course.title}}
	</h1>
	<hr/>

	<div class="row m-auto">
		<div class="col-md-8 mb-3 p-2">
			{% if registrationSuccessful %}
				<div id="registrationEmailSent-alert" class="alert alert-success p-2 m-2">
					<p class="text-center" style="font-size:15px">
						Regisztráció sikeres! <i class="fa fa-check-circle"></i> <br> Kattints a "Megveszem" gombra és kezdj neki a tanfolyamnak!</br>
					</p>
				</div>
				<script>
					const el = document.getElementById('registrationEmailSent-alert');
let isLight = false
setInterval(() => {
el.style.background = isLight ? '#D4EDDA' : '#7ABE89';
isLight = ! isLight
}, 950);
				</script>
			{% endif %}
			{% if loginSuccess %}
				<div class="alert text-center alert-success p-1 pr-2 pl-2">
					<p style="font-size:15px">
						<b>Bejelentkezés sikeres!</b>
					</p>
				</div>
			{% endif %}
			<p class='embed-container'>
				<iframe src="https://player.vimeo.com/video/{{course.videoId}}" class="w-100" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</p>
			<h2 class="lead p-2 text-center font-weight-bold">
				{{course.description}}
			</h2>

			{% if quotes is not empty %}
				<h1 class="p-3">Vélemények:</h1>
				<div class="card">
					<div class="card-body w-100 p-2">
						{% for quote in quotes %}
							<blockquote class="p-2">
								<p class="quotation">
									<i class="fa fa-quote-left color-blue mr-2"></i>
									{{quote.content}}
									<i class="fa fa-quote-right color-blue ml-2"></i>
								</p>
								<p class="quotation-footer">—
									{{quote.author}}
								</p>
							</blockquote>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-4">

			<div class="row p-2">
				<div class="col-md-12 border bg-white">
					<p class="text-center pt-1">
						<b>A teljes képzés ára:</b>
					</p>
					{% if course.price == discountedPrice %}
						<h1 class="p-3 no-discount" style="font-size: 3em; text-shadow: 2px 3px 5px #ddd;">
							<b>{{course.price | number_format(0, '', ' ')}}
								Ft</b>
						</h1>
					{% else %}
						<div class="row p-2">
							<div class="col-md-8" style="text-shadow: 2px 3px 5px #ddd;">
								<span class="first">{{discountedPrice | number_format(0, '', ' ') }}
									Ft</span>
								<span class="second strikethrough">{{course.price | number_format(0, '', ' ')}}
									Ft</span>
							</div>
							<div class="col-md-4">

								<div class="float-right text-center">
									<div class="third text-center">
										{{((discountedPrice - course.price)  / course.price * 100) | number_format(0, '', ' ')}}%
									</div>
									<!-- <span style="font-size: 10px">Limitált ideig!</span> -->

								</div>
							</div>


						</div>

					{% endif %}
				</div>
			</div>

			<div class="row p-2 mb-2 border-bottom">
				{{paywallForm | raw}}
			</div>

			{% if specs is not empty %}
				<div class="col-md-12 m-auto pb-2">
					<h1 class="text-center mb-2">Mit kapsz?</h1>
					<ul class="lead list-unstyled">
						{% for spec in specs %}
							<li>
								<i class="fa fa-check color-blue mr-2"></i>
								<b>{{spec.content}}</b>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{# {% if numberOfSubscribers > 5 %}
				<p class="card p-3 d-inline-block w-100">
					<span class="fa fa-user mr-2 color-blue"></span>
					A képzésre eddig
					{{numberOfSubscribers}}
					személy iratkozott be.
				</p>
			{% endif %} #}
		</div>
	</div>
	<div class="p-2">
		{{contentWithEmbeddables | raw}}
	</div>
	{{episodeList | raw}}
	<h1 class="red main-font">
		<b>Vedd meg most és lendítsd előre a karriered!
			<i class="fa fa-thumbs-up fa-lg"></i>
		</b>
	</h1>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=705894336804251&autoLogAppEvents=1" nonce="GLaxzOjV"></script>
	<div class="fb-like" data-href="{{url}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
