<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/favicon.ico?v=3"/>
		<link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/cookiealert.css">

		{% for style in styles %}
			{% if style.isCdn %}
				<link rel="stylesheet" href="{{ style.path }}">
			{% else %}
				{% if style.path %}
					<link rel="stylesheet" href="/public/{{ style.path }}?v=8">
				{% endif %}
			{% endif %}
		{% endfor %}
		<link type="text/css" href="public/css/pages.css?v=3" media="all" rel="stylesheet"/>
		<title>
			{{ title is defined ? ('Kódbázis | ' ~ title) : 'Kódbázis | Programozás egyszerűen, közérthetően elmagyarázva.' }}
		</title>
		{% if structuredData is defined %}
			<script type="application/ld+json">{{structuredData | raw}}</script>
		{% endif %}
		<meta property="og:locale" content="hu_HU"/>
		<meta name="description" content="{{ description is defined ? description : 'Programozás egyszerűen, közérthetően elmagyarázva.' }}"/>
		{% for ogTag in ogTags %}
			<meta property="{{ogTag.property}}" content="{{ogTag.content}}"/>
		{% endfor %}

		{% if noIndex is defined and noIndex %}
			<meta name="robots" content="noindex"/>
		{% endif %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-188538631-1"></script>
		<script>
					window.dataLayer = window.dataLayer || [];
		function gtag() {
		dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-188538631-1');
		</script>
	</head>
	<body class="home">


		{% include 'navbar.twig' with {'subscriberLabel' : subscriberLabel is defined ? subscriberLabel : ''} %}

		{{ content | raw }}

		<div class="text-center cookiealert d-none p-2">
			A weboldalunkon cookie-kat használunk, hogy a legjobb felhasználói élményt nyújthassuk.
			<a href="/sutik-kezelese" target="_blank">Részletes leírás »</a>

			<button type="button" class="btn btn-primary btn-sm acceptcookies">
				Rendben
			</button>
		</div>

		{% include 'footer.twig' %}


		{% include 'fb-chat.twig' %}


		{% if scripts is defined %}
			{% for script in scripts %}
				{% if script.isCdn %}
					<script src="{{ script.path }}"></script>
				{% else %}
					<script defer src="/public/{{ script.path }}"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
		<script defer src="./public/js/navbar.js?v=2"></script>
		<script src="./public/js/cookiealert.js"></script>

	</body>
</html>
