<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/favicon.ico?v=3"/>
		<link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
		{% for style in styles %}
			{% if style.isCdn %}
				<link rel="stylesheet" href="{{ style.path }}">
			{% else %}
				<link rel="stylesheet" href="/public/{{ style.path }}">
			{% endif %}
		{% endfor %}
		<link type="text/css" href="public/css/pages.css" media="all" rel="stylesheet"/>
		<title>
			{{ title is defined ? title : 'Kódbázis | Programozás egyszerűen, közérthetően elmagyarázva.' }}
		</title>
		<meta property="og:locale" content="hu_HU"/>
		<meta name="description" content="{{ description is defined ? description : 'Programozás egyszerűen, közérthetően elmagyarázva.' }}"/>
		{% for ogTag in ogTags %}
			<meta property="{{ogTag.property}}" content="{{ogTag.content}}"/>
		{% endfor %}
	</head>

	<body class="home">
		<nav class="navbar fixed-top bg m-auto">
			<a class="navbar-brand" href="#">
				<a href="/" class="m-auto"><img src="public/images/logo.png" alt="Kódbázis" class="logo"/></a>
			</a>
			<button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars text-light">☰</i>
			</button>

			<div id="navbar-items" class="d-none w-100">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active border-bottom">
						<a class="nav-link text-light p-3" href="/cikkek">
							Cikkek
						</a>
					</li>
					<li class="nav-item active border-bottom">
						<a class="nav-link text-light p-3" href="/react-kurzus/a-react-filozofiaja">
							React kurzus
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link text-light p-3" href="/trening">
							Tréning
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light p-3" href="/elerhetoseg">Elérhetőség</a>
					</li>
				</ul>
			</div>
		</nav>
		{% include content %}
		<footer class="page-footer">
			<ul class="site-footer-links right">
				<li>
					<a target="_blank" href="https://facebook.com/kodbazis">
						<img height="30px" src="public/images/facebook.png"/>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://youtube.com/kodbazis">
						<img height="30px" src="public/images/youtube.png"/>
					</a>
				</li>
			</ul>

			<ul class="site-footer-links">
				<li>&copy; 2020
					<span>Kódbázis</span>
				</li>
				<li>
					<a href="/adatvedelmi-szabalyzat">
						Adatvédelmi szabályzat
					</a>
				</li>
			</ul>
		</footer>
		{% include 'fb-chat.twig' %}

		{% if scripts is defined %}
			{% for script in scripts %}
				{% if script.isCdn %}
					<script src="{{ script.path }}"></script>
				{% else %}
					<script defer src="/public/{{ script.path }}"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
		<script defer src="./public/js/navbar.js"></script>
	</body>
</html>
